# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
*.pyc

# Ignore big data fies
data/children_cats.csv
data/wiki_categories.csv
data/wiki_categories_50k.csv
data/wiki_categories_100k.csv
